<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
    <div style="text-align: center;">
            <form method="post" action="/addpost" th:object="${postForm}">
                 <input type="text" th:field="*{title}" placeholder="Tytuł">   <br/>
                 <input type="text" th:field="*{context}" placeholder="Treść"> <br/>
                 <input type="submit" value="Dodaj post">
            </form>
    </div>
</body>
</html>