<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1 th:text="${user.getUserData().getLogin()} + ', ' + ${info}"></h1>
    <br/>
    <a href="/logout">Wyloguj się</a>

    <div style="text-align: center;">
        <div th:each="post : ${posts}">
            <a th:href="@{'/post/' + ${post.getId()}}">
                <h2 th:text="${post.getTitle()}"></h2>
            </a>
            <hr/>
        </div>
    </div>
</body>
</html>