<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<div style="text-align: center;">
    <h1 th:text="${info}"></h1>
    <form method="post" action="/login" th:object="${loginForm}">
        <input type="text" th:field="*{login}" placeholder="Login">   <br/>
        <input type="password" th:field="*{password}" placeholder="Hasło"> <br/>
        <input type="submit" value="Logowanie">
    </form>
</div>
</body>
</html>