<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}"></title>
</head>
<body>
     <div style="text-align: center;">
         <h1 th:text="${post.getTitle()}"></h1>
         <p th:text="${post.getUser().getLogin()}"></p>
         <br/><br/>

         <span th:text="${post.getContext()}"></span>
             <p>
                 <strong th:text="${post.getCreationTime()}"></strong>
             </p>

             <a href="/">Powrót</a>

         <hr/>

         <span th:each="comment : ${post.getComments()}">
             <p th:text="${comment.getUser().getLogin()} + ': ' + ${comment.getContext()}"></p>
         </span>

         <form method="post" th:action="'/comment/' + ${post.getId()}" th:object="${commentForm}">
             <input type="text" th:field="*{context}" placeholder="Treść komentarza">
             <input type="submit" value="Dodaj"/>
         </form>
     </div>

</body>
</html>